#course-home-sidebar {
  font-size: 14px;
  width: 288px;

  & h3  {
    font-size: 16px;
  }

  & p {
    font-size: 12px;
  }

  & a {
    color: #2d3b45;
    text-decoration: none;
  }
  & a:hover { text-decoration: underline;}
}