.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;  margin: 0px;
  width: 80px;
  min-height: 100vh;
  height: 100%;
}
.wd-kanbas-navigation li {
  padding: 6px;
  font-size: 0.8em;
  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: #B52828;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.wd-kanbas-navigation a i {
  color: #B52828;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation .account {
  color: lightgray;
  font-size: 32px;
}
.wd-active .account {
  color: gray;
}
